[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
python-dotenv = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-migrate = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-debugtoolbar = "*"
faker = "*"
unidecode = "*"
flask-sqlalchemy = "*"
sqlalchemy = "==1.3.23"
email-validator = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
