[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-migrate = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
